*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
body
{
    color: #ededed;
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: 0;
    animation: slideRight ease forwards;
}
.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop ease .5s forwards;
    
}
.navbar a:link, a:visited {
    color: hsl(0, 50%, 80%);
  }

.navbar a:hover{
    color: #0ef;
}

.home{
    position: relative;
    width:100%;
    justify-content: space-between;
    height: 100vh;
    background: url(M1.jpeg) top center repeat-y;
    background-size: 100%; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.about{
    position: relative;
    width:100%;
    justify-content: space-between;
    height: 100vh;
    background: url(M2.jpeg) top center repeat-y;
    background-size: 100%; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0px 10% 0px;
    
}

.skill{
    position: relative;
    width:100%;
    justify-content: space-between;
    height: 100vh;
    background: url(M3.jpeg) top center repeat-y;
    background-size: 100%; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0px 10% 0px;
    
}

.skill4 {
    font-size: 50px;
    font-weight: 700;
    margin: -3px 0;
}

.skill4 ol{
    font-size: 25px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
    color: #0ef;
}


.home-content{
    max-width: 600px;
}

.home-content a:link, a:visited {
    color: hsl(0, 50%, 80%);
  }

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
    color: #0ef;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}
.home-content p {
   font-size: 20px;
   opacity: 0;
   animation: SlideLeft 1s ease forwards;
   animation-delay: 1s;
}

.about4 {
    max-width: 600px;
}

.about4 p {
    font-size: 20px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
    color: #0ef;
}
.about4 {
    font-size: 30px;
    font-weight: 700;
    margin: -3px 0;
}

.skill4 h1{
    color: #f5f5f5;
}



.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    margin: 30px 15px 30px 0;
}

.home-sci a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}
.btn-box1 {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

.btn-box1:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan

}







.contact{
    position: relative;
    width:100%;
    justify-content: center;
    height: 100vh;
    background: url(bg.png) top center repeat-y;
    background-size: 100%; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0px 10% 0px;
    
}

.contact form{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3{
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;  
}

form input, form textarea{
    border: 0;
    margin: 4px 0;
    padding: 18px;
    outline: none;
    background-color: #f5f5f5;
    font-size: 16px;

}
form button{
    padding: 15px;
    background: #ff5;
    color: #001660;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 15px auto 0;
    border-radius: 30px;


}




















@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes SlideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}


/* Styles for smaller screens (e.g., smartphones) */
@media only screen and (max-width: 768px) {
    .header {
        padding: 15px 5%;
    }

    .logo {
        font-size: 20px;
    }

    .navbar a {
        font-size: 20px;
        margin-left: 20px;
    }

    /* Adjust other section styles as needed for smaller screens */
    .home,
    .about,
    .skill,
    .contact {
        padding: 50px 5%;
        background: url(bg.png);
    }

    .home-content h3 {
        font-size: 28px;
    }

}
